<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.onlineclasses.web.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>start_teaching</servlet-name>
        <jsp-file>/start_teaching.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>start_learning</servlet-name>
        <jsp-file>/start_learning.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>find_teachers</servlet-name>
        <jsp-file>/find_teachers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>oclass</servlet-name>
        <jsp-file>/oclass.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>unsubscribe</servlet-name>
        <jsp-file>/unsubscribe.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <jsp-file>/contact.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>terms_of_usage</servlet-name>
        <jsp-file>/terms_of_usage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>privacy_policy</servlet-name>
        <jsp-file>/privacy_policy.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>student_homepage</servlet-name>
        <jsp-file>/student_homepage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>teacher_homepage</servlet-name>
        <jsp-file>/teacher_homepage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>teacher_update</servlet-name>
        <jsp-file>/teacher_update.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>student_update</servlet-name>
        <jsp-file>/student_update.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>about_us</servlet-name>
        <jsp-file>/about_us.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>start_teaching</servlet-name>
        <url-pattern>/start_teaching</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start_learning</servlet-name>
        <url-pattern>/start_learning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find_teachers</servlet-name>
        <url-pattern>/find_teachers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oclass</servlet-name>
        <url-pattern>/oclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unsubscribe</servlet-name>
        <url-pattern>/unsubscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>terms_of_usage</servlet-name>
        <url-pattern>/terms_of_usage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>privacy_policy</servlet-name>
        <url-pattern>/privacy_policy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_homepage</servlet-name>
        <url-pattern>/student_homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacher_homepage</servlet-name>
        <url-pattern>/teacher_homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacher_update</servlet-name>
        <url-pattern>/teacher_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_update</servlet-name>
        <url-pattern>/student_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about_us</servlet-name>
        <url-pattern>/about_us</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
