.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.glyphicon {
    position: static;
    padding-left: 10px;
}

.close_button {
    float:left;
    cursor:pointer;
    font-size: small;
}

.close_button:hover {
    font-weight: bold;  
}

span.oi {
    vertical-align: middle;
    margin-bottom: auto;
    margin-top: auto;
}
