.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.glyphicon {
    position: static;
    padding-left: 10px;
}

.close_button {
    float:left;
    cursor:pointer;
}

.close_button:hover {
    font-weight: bold;  
}