.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.glyphicon {
    position: static;
    padding-left: 10px;
}

.close_button {
    float:left;
    cursor:pointer;
}

.close_button:hover {
    color: rgb(17, 122, 139);
}

span.oi {
    margin-bottom: auto;
    margin-top: auto;
    font-size: small;
}
