th.schedule_class_calendar, td.schedule_class_calendar  {
    text-align:center;
    vertical-align: middle;
    cursor: pointer;
}

td.calendar_today {
    background-color:#DCDCDC
}

td.calendar_available {
    background-color:#E0FFFF
}

td.calendar_busy {
    background-color:#FF7F50
}

td.calendar_selected {
    background-color:#7CFC00
}


#schedule_class_calendar_table td, #schedule_class_calendar_table th
{
    border: solid gray 1px;
}

#schedule_class_calendar_table td.schedule_class_row_start
{
    border-bottom: none
}

#schedule_class_calendar_table td.schedule_class_row_middle
{
    border-top: none;
    border-bottom: none
}

#schedule_class_calendar_table td.schedule_class_row_end
{
    border-top: none
}
