th.schedule_class_calendar, td.schedule_class_calendar  {
    text-align:center;
    vertical-align: middle;
}

td.calendar_available {
    background-color:#E0FFFF
}

td.calendar_free {
    background-color:#ADD8E6
}

td.calendar_available:hover {
    background-color:#ADD8E6
}

td.calendar_today {
    background-color:#DCDCDC
}

#schedule_class_calendar_table td, #schedule_class_calendar_table th
{
    border: solid gray 1px;
}