th.start_teaching_calendar, td.start_teaching_calendar  {
    text-align:center;
    vertical-align: middle;
    cursor: pointer;
    height:14px;
}

td.calendar_today {
    background-color:#DCDCDC
}

td.calendar_available {
    background-color:#17a2b8
}

td.calendar_selected {
    background-color:#6BEB00
}

td.calendar_busy {
    background-color:#FF7F50
}

#start_teaching_calendar_table
{
    table-layout: fixed;
    border: solid gray 2px;
    overflow-x: hidden;
}

#start_teaching_calendar_table td, #start_teaching_calendar_table th
{
    border: solid gray 1px;
}

#start_teaching_calendar_table td.start_teaching_row_start
{
    border-bottom: none
}

#start_teaching_calendar_table td.start_teaching_row_middle
{
    border-top: none;
    border-bottom: none
}

#start_teaching_calendar_table td.start_teaching_row_end
{
    border-top: none
}

#start_teaching_calendar_table td.start_teaching_calendar_time:hover
{
    border: solid gray 2px;
}

small.start_teaching_required
{    
    color:red;
    font-weight: bold
}

input.start_teaching_required, select.start_teaching_required, textarea.start_teaching_required
{
    border-color: red;
}

input.start_teaching_required_filled, select.start_teaching_required_filled, textarea.start_teaching_required_filled
{
    border-color: green;
}
