th.student_update_calendar, td.student_update_calendar  {
    text-align:center;
    vertical-align: middle;
    cursor: pointer;
    height:14px;
}

td.calendar_today {
    background-color:#DCDCDC
}

td.calendar_available {
    background-color:#17a2b8
}

td.calendar_selected {
    background-color:#6BEB00
}

td.calendar_busy {
    background-color:#FF7F50
}

#student_update_calendar_table
{
    table-layout: fixed;
    border: solid gray 2px;
    overflow-x: hidden;
}

#student_update_calendar_table td, #student_update_calendar_table th
{
    border: solid gray 1px;
}

#student_update_calendar_table td.student_update_row_start
{
    border-bottom: none
}

#student_update_calendar_table td.student_update_row_middle
{
    border-top: none;
    border-bottom: none
}

#student_update_calendar_table td.student_update_row_end
{
    border-top: none
}

#student_update_calendar_table td.student_update_calendar_time:hover
{
    border: solid gray 2px;
}

small.student_update_required
{    
    color:red;
    font-weight: bold
}

input.student_update_required, select.student_update_required, textarea.student_update_required
{
    border-color: red;
}

input.student_update_required_filled, select.student_update_required_filled, textarea.student_update_required_filled
{
    border-color: green;
}

#student_update_img_upload_button_wrapper
{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#student_update_img_upload_button_wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width:100%;
    height:100%;
}
